<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brukerinnstillinger</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <ul id="navbar">
        <li><a class="left" href="/">Home</a></li>
        <li><a class="left" href="/steinsakspapir">Stein saks papir</a></li>
        <li><a class="left" href="/gjetttallet">Gjett tallet</a></li>
        <li><a class="left" href="/leaderboard">Leaderboard</a></li>
        <div class="dropdown right">
            <button class="dropbtn">Konto 👤 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/api/logout">Logg ut</a>
                <a href="/preferences">Preferanser</a>
            </div>
        </div> 
    </ul>
    <h1>Brukerinnstillinger</h1>
    <div class="container">
        <form id="ipPrefForm">
            <label>
                <input type="checkbox" id="saveIp" name="saveIp">
                Tillat lagring av IP-adresse (posisjonsdata)
            </label>
            <button type="submit">Lagre preferanse</button>
        </form>
        <hr>
        <button id="deleteAccount" style="color:red;">Slett konto</button>
    </div>
    <script src="/js/preferences.js"></script>
</body>
</html>