<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <ul id="navbar">
        <li><a class="left" href="/">Home</a></li>
        <li><a class="left" href="/steinsakspapir">Stein saks papir</a></li>
        <li><a class="left" href="/gjetttallet">Gjett tallet</a></li>
        <li><a class="left" href="/leaderboard">Leaderboard</a></li>
        <div class="dropdown right">
            <button class="dropbtn">Konto 👤 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/api/logout">Logg ut</a>
                <a href="/preferences">Preferanser</a>
            </div>
        </div> 
    </ul>
    <h1>Register</h1>
    <div class="container">
        <form id="registerForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="nececarryData">Jeg aksepterer lagring av nødvendig data</label>
            <input type="checkbox" id="nececarryData" name="nececarryData">
            <br><br>
            <label for="optionalData">Jeg aksepterer lagring av posisjonsdata</label>
            <input type="checkbox" id="optionalData" name="optionalData">

            <p>Les mer om personvern <a href="/personvern">her</a></p>
            
            <button type="submit">Registrer</button>
        </form>
        <p>Har du en konto? <a href="/logginn">Logg inn</a></p>
    </div>
    <script src="/js/konto.js"></script>
</body>
</html>