<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stein saks papir</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Stein saks papir</h1>
    <div class="container">
        <a href="/">Tilbake til start</a>
        <h2>Velg en:</h2>
        <button class="valg" value="stein" >Stein</button>
        <button class="valg" value="saks" >Saks</button>
        <button class="valg" value="papir" >Papir</button>
        <h2>Datamaskin velger:</h2>
        <p id="datamaskinValg">Ingen valg enda</p>
        <h2 id="resultat">Ingen resultat enda</h2>
    </div>

    <script src="/js/steinSaksPapir.js"></script>

</body>
</html>