/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title Styles */
h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Additional Styles */

/* Style for unordered list for index of games*/
ul {
    list-style-type: square;
    padding: 0;
    margin-left: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3498db;
}

#navbar li a {
    display: block;
    padding: 14px 16px;
    color: white;
    margin-left: 10px;
}

#navbar li a:hover:not(.active) {
    background-color: #04AA6D;
}

.active {
    background-color: #04AA6D;
}

.left {
    float: left;
}

.right {
    float: right;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.leaderboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-container select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.leaderboard-table th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.leaderboard-table tr:hover {
    background-color: #f5f5f5;
}

.rank-1 {
    background-color: gold;
    font-weight: bold;
}

.rank-2 {
    background-color: silver;
    font-weight: bold;
}

.rank-3 {
    background-color: #cd7f32; /* bronze */
    font-weight: bold;
}